[database]
connection = mysql+pymysql://keystone:{{ admin_pass }}@{{ hostvars[groups['controllers'][0]]['ansible_hostname'] }}/keystone

[token]
provider = fernet

[cache]
enabled=true
memcache_servers = {{ hostvars[groups['controllers'][0]]['ansible_hostname'] }}:11211
